.validate-error-tip {
  position: absolute;
  top: 0;
  left: 0;
  display: table;
  min-width: 150px;
  min-height: 35px;
  font-size: 12px;
  border: 1px solid lightblue;
  padding: 5px;
  background: #fff;
  color: #666;
  z-index: 9999;
}

.validate-error-tip:before {
  position: absolute;
  top: 0;
  left: -15px;
  display: block;
  content: '';
  width: 0;
  height: 0;
  border-color: transparent lightblue transparent transparent;
  /*1、下边框有颜色 对应着上边框没有宽度,是正三角形；2、上边框有颜色 对应着下边框没宽度，是倒三角形*/
  border-style: solid;
  border-width: 15px 15px 15px 0;
}